<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='../../../dist/pageOne.[1].css'>
  <!-- <link rel='stylesheet' href='../../../dist/style.css'> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
  <title>Simple piskel clone</title>
</head>
<body>
  <header class="loading-header">
    <div class="logo-container">
      <img class = "logo1" src="./assets/New Piskel.png" alt="logo">
      <img class = "logo2" src="./assets/New Piskel-2.png.png" alt="logo">
    </div>
    <div class="button-create">
      <a href="canvas.html"><button class="create-canvas">Create Sprite</button></a>
    </div>
  </header>
  <main>
    <section class="section-about">
      <div class="text-about__container">
        <p class="text-about">
          <b>Piskel-clone</b> is online editor for animated sprites<br> & pixel art
        </p>
        <p class="text-about2">Create animations in your browser.</p>
        <div class="about_button-container">
          <a href="canvas.html"><button class="create-canvas button_about">Create Sprite</button></a>
        </div>
      </div>
      <div class="screen__container">
        <img class="screen-img" src="./assets/screen.png" alt="">
      </div>
    </section>

    <section class="section-example">
      <p class="example-title">Example sprites</p>
      <div class="example-gif">
        <img class="example-gif1" src="./assets/clone-gif.gif" alt="gif">
        <img class="example-gif1" src="./assets/clone-gif2.gif" alt="gif">
        <img class="example-gif1" src="./assets/clone-gif3.gif" alt="gif">
      </div>
    </section>

    <section class="section-author">
        <img src="./assets/photo.jpg" alt="author" class="author-img">
        <div class="author-description-container">
          <p class="author-name">Nastya Tsimanovich</p>
          <p class="author-description_text">Junior <br> Frontend Developer</p>
        </div>
    </section>
  </main>
  <script type="text/javascript" src="../../../dist/pageOne.js"></script>
  <!-- <script type="text/javascript" src="../../../dist/bundle.js"></script> -->
</body>
</html>