$font: 'Source Sans Pro','Arial', sans-serif;

body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1440px;
}
main{
    display: flex;
    margin-top: 15px;
}
a{
    text-decoration: none;
    color: rgba($color: #ffffff, $alpha: 0.85);
    font-family: $font;
    cursor: pointer;
}
.header{
    width: 100%;
    height: 60px;
    -webkit-box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.5);
    box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.5);
}
.navigation-menu{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgba($color: #7d7d7d, $alpha: 1.0);
}
.nav-icon{
    margin: 3%;
    width: 30px;
}
.dropdown-content-menu{
    display: none;
    position: absolute;
    width: 140px;
    height: 60px;
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 5px;
    background-color: rgba(125, 125, 125, 1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 25px;
}
.dropdown-menu:hover .dropdown-content-menu {
    display: flex; 
    flex-direction: column;
}

.header-text{
    margin-right: 5%;
    width: 64%;
    font-family: $font;
    font-size: 35px;
}
.menu{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20px;
}
.button-control{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 600px;
    margin-left: 3%;
    background: rgba(255, 255, 255, 1);
}
.button-group-vertical{
    display: flex;
    flex-direction: column;
    width: 228px;
    -webkit-box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.5);
    box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.5);
    background-color:  rgba(255, 255, 255, 1);
}
.button{
    display: flex;
    align-items: center;
    width: 228px;
    height: 48px;
    border: 0;
    background-color:  rgba(255, 255, 255, 1);
    outline: none;
    font-family: $font;
    &:hover{
        transform: scale(0.95);
    }
}
.button__circle{
    margin-left: 1%;
    margin-right: 14%;
}
.icon-pencil,
.icon-bucket,
.icon-color,
.icon-staright,
.icon-eraser,
.icon-all-pixels{
    width: 20px;
    margin-right: 16.5%;
}

.dropdown-content__btn-bucket,
.dropdown-content__choose-color,
.dropdown-content__pencil,
.dropdown-content__straignt-line,
.dropdown-content__eraser,
.dropdown-content__all-pxs,
.dropdown-content__new-frame,
.dropdown-content__px-size,
.dropdown-content__flscreen{
    display: none;
    position: absolute;
    min-width: 80px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: rgba($color: #ffffff, $alpha: 1.0);
    font-family: $font;
    font-size: 13px;
    z-index: 1;
    line-height: 20px;
}
.dropdown-content__px-size{
    top: 475px;
    text-align: center;
}
.dropdown-content__flscreen{
    top: 400px;
}
.button-text{
    margin: 0;
    padding: 0;
}
.btn-key,
.btn-size{
    color: rgba($color: #fff700, $alpha: 1.0);
}
.dropdown-dtn-bucket:hover .dropdown-content__btn-bucket,
.dropdown-dtn__choose-color:hover .dropdown-content__choose-color,
.dropdown-dtn__pencil:hover .dropdown-content__pencil,
.dropdown-dtn__straignt-line:hover .dropdown-content__straignt-line,
.dropdown-dtn__eraser:hover .dropdown-content__eraser,
.dropdown-dtn__all-pxs:hover .dropdown-content__all-pxs,
.dropdown-dtn__new-frame:hover .dropdown-content__new-frame,
.dropdown__px-size:hover .dropdown-content__px-size,
.dropdown__flscreen:hover .dropdown-content__flscreen {
    display: block;
}


.button__prev-color{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.button__circle{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 100%;
}
.circle-color{
    background-color: rgba(251, 255, 0, 1);
}
.circle-prev-color{
    background-color: rgba(172, 255, 47, 0.959);
}
.circle-user-color1{
    background-color: rgba(255, 0, 0, 1);
}
.circle-user-color2{
    background-color: rgba(129, 150, 255, 1);
}

.section__canvas{
    display: flex;
    height: 512px;
    margin-top: 4.7%;
    background-color: rgba(224, 224, 224, 1);
}
.button-control__canvas{
    height: 512px;
}
.button__canvas-group{
    position: absolute;
    top: 12.6%;
    left: 76%;
    justify-content: space-around;
}
.isActive__button{
    background-color: rgba(0,0,0,0.05);
}
.h1{
    color: rgba(0, 0, 0, 0.993);
}
.input__choose-color{
    display: none;
}
.label__choose-color{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40px;
    margin-right: 14px;
}
.button-range__container{
    display: flex;
    margin-bottom: 8px;
    margin-left: 15px;
}
.button-range{
    width: 50px;
    height: 35px;
    margin-left: 10px;
    border: 0;
    border-radius: 20px;
    background-color: rgba(194, 194, 194, 0.253);
    font-family: $font;
    font-size: 18px;
    line-height: 1px;
    &:hover{
        transform: scale(0.95);
    }
}
.dropdown-content_range-32,
.dropdown-content_range-64,
.dropdown-content_range-128{
    display: none;
    position: absolute;
    width: 100px;
    height: 40px;
    padding-top: 3px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: rgba($color: #ffffff, $alpha: 1.0);
    font-family: $font;
    font-size: 13px;
    z-index: 1;
    line-height: 20px;
}
.dropdown-range-32:hover .dropdown-content_range-32,
.dropdown-range-64:hover .dropdown-content_range-64,
.dropdown-range-128:hover .dropdown-content_range-128{
    display: block;
}
.size-canvas{
    margin: 0;
    padding: 0;
}
.canvas{
    width: 512px;
    height: 512px;
}

.px-size-content{
    display: flex;
}
.px-size-content {
    button{
        display: flex;
        flex-direction: column;
        width: 85px;
        margin: 0;
        padding: 6.7px 10px;
        border: 0;
        background-color:  rgba(255, 255, 255, 1);
        outline: none;
        font-family: $font;
        color: rgba(0, 0, 0, 1);
        &:hover{
            background-color: rgba(0,0,0,0.1);
            transform: scale(1.05);
        }
    }
}
.section-frames{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
}
.frame__container{
    display: flex;
    margin-bottom: 7px;
}
.canvas-frame_background{
    width: 96px;
    height: 96px;
    border: 3px solid rgba($color: #7d7d7d, $alpha: 1.0);
    border-radius: 5px;
    border-top-left-radius: 0;
    background-color: rgba(224, 224, 224, 1);
}
.active-frame{
    border: 3px solid rgba($color: #a0a8da, $alpha: 1.0);
    border-top-left-radius: 0;
}
.triangle-right {
    display: none;
    position: relative;
    top: 36px;
    right: 1px;
    width: 0;
    height: 0;
	border-top: 10px solid transparent;
	border-left: 9px solid rgba($color: #a0a8da, $alpha: 1.0);
	border-bottom: 10px solid transparent;
}
.number-frame__circle{
    height: 25px;
    width: 25px;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba($color: #a0a8da, $alpha: 1.0);
    text-align: center;
}
.number_frame{
    position: relative;
    bottom: 28px;
    font-size: 24px;
    font-family: $font;
    color: rgba(0, 0, 0, 1);
}
.frame-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 14px;
    border: 1px solid rgba($color: #7d7d7d, $alpha: 1.0);
    border-radius: 10px;
    background-color: rgba(105, 105, 105, 1);
    font-size: 16px;
    font-family: $font;
    color: rgba($color: #ffffff, $alpha: 0.9);
    -webkit-box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.5);
    box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.5);
    outline: none;
    &:hover{
        transform: scale(0.9);
    }
}
.delete-frame{
    background-image: url(../assets/trash.svg);
}
.move-frame{
    background-image: url(../assets/move.svg);
}
.delete-frame,
.move-frame,
.clone-frame{
    position: relative;
    bottom: 45px;
    width: 17px;
    height: 17px;
    margin-bottom: 3px;
}
.delete-frame__first,
.move-frame__first{
    display: none;
}
.clone-frame {
    background-image: url(../assets/clone.svg);
}
.container__all-frames{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 120px;
}
.section-preview{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.canvas-preview__backgroud{
    position: relative;
    width: 224px;
    height: 224px;
    background-color: rgba(224, 224, 224, 1);
}
.canvas-preview__backgroud:fullscreen {
    display: flex;
    justify-content: center;
    background-color: rgba($color: #ffffff, $alpha: 1.0);
    & .preview__item{
        width: 100vh !important;
        height: 100vh !important;
    }
}
.preview__item{
    position: absolute;
    width: 224px;
    height: 224px;
    visibility: hidden;
}
.active-preview{
    visibility: visible;
}
.fps-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.fps_input{
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: rgba(211, 211, 211, 1);
    outline: none;
    opacity: 0.7;
}
.fps_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: rgba(102, 103, 102, 1);
    cursor: pointer;
  }

.fps-label{
    margin-right: 4px;
    font-family: $font;
    color: rgba(0, 0, 0, 1);
}
.container__flscreen-button,
.container__change-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container__change-button{
    margin-top: 100px;
}
.flscreen-button,
.change-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    background-color:  rgba(105, 105, 105, 1);
    outline: none;
    font-family: $font;
    font-size: 18px;
    color: rgba($color: #ffffff, $alpha: 0.9);
    &:hover{
        transform: scale(0.95);
    }
}
.change-button{
    width: 180px;
    height: 50px;
    border-radius: 25px;
}